<section class="no-padding bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/before.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/clean.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/peinte.jpg" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
