<section class="no-padding bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/before.jpg" srcset="img/portfolio/before-small.jpg 480w, img/portfolio/before.jpg 1080w" class="img-responsive" alt="Maison avant le début des travaux">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/clean.jpg" srcset="img/portfolio/clean-small.jpg 480w, img/portfolio/clean.jpg 1080w" class="img-responsive" alt="Maison nettoyé">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/peinte.jpg" srcset="img/portfolio/peinte-small.jpg 480w, img/portfolio/peinte.jpg 1080w" class="img-responsive" alt="Maison peinte">
                </a>
            </div>
        </div>
    </div>
</section>
