<section class="no-padding bg-dark" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.gif" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.gif" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.gif" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.gif" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
